body, input, button, * {
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  align-items: baseline;
  margin: .8rem .0 5rem 1rem;
  font-weight: bold;
}

.name {
  font-size: 2rem;
  color: #13ace5;
  margin-right: .5rem;
}

.name-todo {
  color: black;
}

.logo {
  height: 30px;
}

#add-button {
  display: none;
}

.task-lists li {
  list-style: none;
}

.buttons {
  display: inline;
}

i.fa-times {
  display: none;
}

 .task-lists li:hover .fa-times {
  display: inline;
}
