html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: -moz-linear-gradient(to top left, #0096F4, #00D195 60%);
  background: -webkit-linear-gradient(to top left, #0096F4, #00D195 60%);
  background: -o-linear-gradient(to top left, #0096F4, #00D195 60%);
  background: -ms-linear-gradient(to top left, #0096F4, #00D195 60%);
  background: linear-gradient(to top left, #0096F4, #00D195 60%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body, input, button, * {
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  align-items: baseline;
  padding-top: .8rem;
  margin: 0 0 3rem 1rem;
  font-weight: bold;
}

.name {
  margin-right: .5rem;
  color: #0096F4;
  font-size: 2.5rem;
}

.name-todo {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.logo {
  height: 40px;
}

.tagline {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.list-container {
  margin-bottom: 5rem;
  border-radius: 5px;
  background: rgba(255,255,255,0.2);
  -webkit-box-shadow: 0 0 4px 4px rgba(0,0,0,.02);
  box-shadow: 0 0 4px 4px rgba(0,0,0,.02);
}

#task-input {
  padding: 1.5rem .5rem;
  margin: 1rem 0 1rem 0;
  border: none;
  border-radius: 5px;
  background: rgba(0,209,149,0.6);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  font-size: 1.15rem;
  text-indent: 1px;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.list-container input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-style: italic;
}

.list-container input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-style: italic;
}

.list-container input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-style: italic;
}

.list-container input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-style: italic;
}

#add-button {
  display: none;
}

.task-lists ul {
  margin: 0;
}

.task-lists li {
  padding: .75rem 10px;
  margin-bottom: .5rem;
  border-radius: 5px;
  background: rgba(255,255,255,0.1);
  -webkit-box-shadow: 1px 2px 4px  rgba(0,0,0,.02);
  box-shadow: 1px 2px 4px  rgba(0,0,0,.02);
  color: #fff;
  font-size: 1.15rem;
  /*font-weight: bold;*/
  list-style: none;
}

.task-lists li:last-of-type {
  margin-bottom: 1rem;
}

.todo li:first-of-type {
  margin-top: 1.5rem;
}

.completed li:first-of-type {
  margin-top: 1.5rem;
}

.task-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  align-items: center;
}

button.complete {
  padding: .15rem;
  margin: 0 9px 0 0;
  border: 1px solid #0096F4;
  border-radius: 5px;
  color: #0096F4;
  font-size: 1rem;
  outline: none;
}

button.complete:hover {
  background: #0096F4;
  color: #fff;
  opacity: 1;

  -webkit-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

#completed button.complete {
  background: #0096F4;
  color: #fff;
  opacity: 1;
}

#completed span {
  opacity: .6;
  text-decoration: line-through;
}

button.delete {
  display: flex;
  align-items: center;
  margin-right: 5px;
  opacity: .4;
  outline: none;
}

i.fa-times {
  color: transparent;
}

.task-lists li:hover .fa-times {
  color: #fff;

  -webkit-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

#todo-modal {
  color: #0096F4;
  outline: none;
  text-align: center;
}

#todo-modal h3 {
  font-weight: bold;
}

#completed-modal {
  color: #00D195;
  outline: none;
  text-align: center;
}

#completed-modal h2 {
  font-weight: bold;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .name {
    font-size: 2rem;
  }

  .tagline {
    font-size: 1.5rem;
  }

  button.complete, button.complete:hover, button.complete:active, button.complete:focus {
    padding: .15rem;
    margin: 0 9px 0 0;
    border: 1px solid #0096F4;
    border-radius: 5px;
    color: #0096F4;
    background: transparent;
    font-size: 1rem;
    opacity: 1;
    outline: none;

    -webkit-transition-property: none;
    transition-property: none;
  }

  button.delete {
    font-size: .85rem;
    opacity: .3;
  }

  i.fa-times {
    color: gray;
  }

  .task-lists li:hover .fa-times {
    color: gray;

    -webkit-transition-property: none;
    transition-property: none;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  button.complete, button.complete:hover, button.complete:active, button.complete:focus {
    padding: .15rem;
    margin: 0 9px 0 0;
    border: 1px solid #0096F4;
    border-radius: 5px;
    color: #0096F4;
    background: transparent;
    font-size: 1rem;
    opacity: 1;
    outline: none;

    -webkit-transition-property: none;
    transition-property: none;
  }

  button.delete {
    font-size: .85rem;
    opacity: .3;
  }

  i.fa-times {
    color: gray;
  }

  .task-lists li:hover .fa-times {
    color: gray;

    -webkit-transition-property: none;
    transition-property: none;
  }
}
